/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 62.5%;
}
/* CSS RESETS END */
/* CUSTOM STYLES */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wWw.ttf) format('truetype');
}
.flex-row-nowrap-space {
  flex-flow: row nowrap;
  justify-content: space-evenly;
}
.flex-column-nowrap-space {
  flex-flow: column nowrap;
  justify-content: space-evenly;
}
.flex-align-cross-axis {
  align-items: center;
}
body {
  font-family: 'Lato', sans-serif;
  line-height: 3rem;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
body h1 {
  font-size: 3rem;
  color: whitesmoke;
}
body h2 {
  text-align: center;
  font-size: 2.2rem;
}
body h3,
body p,
body label {
  font-size: 1.8rem;
}
body article {
  margin: 3% auto;
  background-color: whitesmoke;
  padding: 1%;
  border-radius: 10px;
  width: 70%;
  max-width: 1200px;
}
@media (max-width: 800px) {
  body article {
    width: 85%;
  }
}
@media (max-width: 500px) {
  body article {
    width: 95%;
  }
}
body article section {
  display: flex;
  flex-flow: column nowrap;
}
body article section p {
  padding: 1%;
}
body article section form {
  margin: 0 auto;
  max-width: 800px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 4fr;
}
body article section form div {
  display: flex;
  justify-content: center;
  align-items: center;
}
body article section form label {
  padding: 0 5%;
}
body article section form input {
  height: 30px;
  max-height: 50px;
}
body article section form input:focus,
body article section form textarea:focus,
body article section form input[type="submit"]:focus {
  border: 1px solid red;
}
body article section form input,
body article section form textarea {
  max-width: 400px;
  color: gray;
  border: 1px solid white;
  border-radius: 5px;
  padding: 3%;
}
body article section form input[type="submit"] {
  max-width: 100px;
  max-height: 30px;
  height: 30px;
}
body article div {
  display: flex;
  justify-content: space-around;
  padding: 2%;
}
@media (max-width: 500px) {
  body article div {
    flex-flow: column nowrap;
    align-items: center;
  }
}
body article div i {
  padding: 0 2%;
}
body article div h2 {
  padding: 0 2%;
}
body i {
  font-size: 5rem;
}
body .selected {
  background-color: rgba(76, 0, 0, 0.6);
}
body header {
  min-height: 20vh;
  font-size: 2.5rem;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
}
body header h1 {
  font-size: 3rem;
}
body header nav {
  font-size: 2rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.5% 0;
  width: 100%;
  min-height: 2vh;
}
body header nav a {
  background: rgba(76, 0, 0, 0.1);
  padding: 0 1%;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  color: whitesmoke;
}
body header .header-section-2 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media (max-width: 500px) {
  body header .header-section-2 {
    flex-flow: column nowrap;
    justify-content: space-evenly;
  }
}
body header .header-section-2 img {
  border-radius: 50%;
  border: 3px solid white;
  width: 50%;
  max-width: 600px;
}
body header .header-section-2 * {
  margin: 2%;
}
body header .header-section-3 {
  display: flex;
  justify-content: center;
}
body header .header-section-3 a {
  background-color: whitesmoke;
  color: black;
  font-size: 80%;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  padding: 1% 2%;
  text-decoration: none;
}
body footer {
  height: 20vh;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
body footer p {
  display: inline-block;
  margin: 0 auto;
  padding: 2%;
  justify-content: center;
  align-items: center;
}
body footer .copyright {
  font-size: 1.3rem;
  color: gainsboro;
}
